  <div class="header">
    <div class="logo">
      <%= link_to '/' do%>
        <%= image_tag 'ps_logo.png', class: '' %>
      <%end%>
    </div>
    <div class="header__title">Geradores de Energia</div>
  </div>
  