.product-modal {
  width: 50%;
  margin-top: 14%;
  margin-left: 35%;
  margin-bottom: 10%;
  color: black;
}

.product-info {
  align-items: right;
}

.product-image {
  float: left;
  height: 40%;
}

.product-price {
  align-content: right;
}
